/* Existing styles */
section {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
}

h1 {
    color: #333;
}

p.details-text {
    color: #555;
}

.about-me {
    padding: 50px 0;
}

.skills-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.skill-card {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    width: 200px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
}

.skill-card:hover {
    transform: scale(1.05);
}

.skill-name {
    font-weight: bold;
    margin-bottom: 13px;
    color: #333;
}

/* Additional styles as needed */
